<nav class="nav nav-pills nav-justified fixed-bottom nav-bar-custom">

  <a class="nav-link nav-link-custom" aria-current="page" href="/contacts"><i class="bi bi-people-fill"></i></a>

  <a class="nav-link nav-link-custom" aria-current="page" href="/"><i class="bi bi-shop"></i></a>

  <li class="nav-item dropdown">
    <a class="nav-link nav-link-custom" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> 
      🍻
    </a>
    <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" href="/beer/buy">BUY</a></li>
      <li><a class="dropdown-item" href="/beer/redeem">REDEEM</a></li>
    </ul>
  </li>
  
  <a class="nav-link nav-link-custom disabled " aria-current="page" href="/"><i class="bi bi-gear"></i></a>



  
</nav>
