# File that sometimes appears on MacOS
.DS_Store

# Dependency directories
node_modules/

# Dev files
controllers/indexController_Old.mjs

#multer profile image uploads (leave this on for now as we need seed data for the mvp)
#uploads/*
