<%- include ('partials/header') %> 


<nav class="nav nav-pills nav-justified fixed-bottom nav-bar-custom">

  <a class="nav-link nav-link-custom" aria-current="page" href="/login">Sign Up / Log In</a>
  
</nav>


<div class="container-fluid my-container">


  <section class = "row  h-1">
    <div>
      <h1 class="">Welcome to BEERPAL! </h1>
    </div>
  </section>

  <section class = "row my-row h-25">
    <h2>What is this?</h2>
    <div>
      <p>
        BEERPAL is an app that helps you to keep track of who owes you a beer and vice versa <br>
        The time has come to mean it when you say "Let's grab a beer" or "I owe you a pint". Find out more!
    </p>
    </div>
  </section>  

</div>

</div>  

<%- include ('partials/footer') %> 