<%- include ('partials/header') %> 


<div class="container-fluid my-container login-signup-page-container text-center">

  <section class = "row">
    <div>
      <h1 class="">LOG IN</h1>
    </div>
  </section>

  <section class = "row d-flex flex-column ">
    <div class="col text-center">
      <img src="https://www.svgrepo.com/show/198537/beer.svg" alt="" class = "login-beer-logo">
    </div>

    <div class="col">

      <form action="/login" method="POST" >

        <% if(isUserLoggingInAgain){ %>
          <div class="alert alert-danger my-alert" role="alert">
            Account not found. Try again please!
          </div>
        <% } %>

        <div class="mb-3 mt-3">
          <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" id="password" name="password" placeholder="password" >
        </div>
        <button type="submit" class="btn btn-success w-100">Beer me up scotty!</button>
      </form>

    </div>
  </section>

  <section class = "row mt-2">
      <a href="/signup">Create an account!</a>
  </section>

</div>

</div>  

<%- include ('partials/footer') %> 